body {
    color: #999;
}
.playing-area__item {
  aspect-ratio: 1;
  background-color: #eee;
  border-radius: 8px;
  transition: background-color 0.2s;
  position: relative;
  overflow: hidden; 
}

.playing-area__item.goblin {
  background-color: #f9f9f9;
}

.playing-area__item.goblin::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;    
  height: 70%;
  /* background-image: url('../img/goblin.png'); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}